body{
    background-color: #eeeeee;
}

.proj{
    display: flex;
    flex-flow: row;
    height: 160px;
    padding: 0px 10px 0px 10px;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: content-box;
    background-color: #fff;
    border-radius: 8px;
}

.proj-pic {
    padding-left: 10px;
    width: 30%;
    display: flex;
    align-items: center;
}

.proj-pic .pic-img {
    width: 125px;
    height: 125px;
    overflow: hidden;
}

.proj-pic .pic-img img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    object-fit: contain; 
}
.footer-info {
    text-align: center;
    color: #fff;
    margin:20px 0 20px 0;
    line-height: 24px;
}
/* 边线 */
.layui-badge-rim, .layui-colla-content, .layui-colla-item, .layui-collapse, .layui-elem-field, .layui-form-pane .layui-form-item[pane], .layui-form-pane .layui-form-label, .layui-input, .layui-layedit, .layui-layedit-tool, .layui-quote-nm, .layui-select, .layui-tab-bar, .layui-tab-card, .layui-tab-title, .layui-tab-title .layui-this:after, .layui-textarea {
    text-align: center;
    border-color: #b8b8b8;
}

.loginForm {
    text-align: center;
    margin:0 33% 0 33%;
    background: #ffffff;
    width: auto;
    height: 400px;
}

.public-form {
    padding: 10% 10% 10% 0;
}

.login-form {
    margin-left: -30px;
    border-color: #dbdbdb;
}

.layui-colla-title{
    background-color: #ffffff;
}
.layui-colla-item{
    background-color: #ffffff;
    border-color: #cac7c7;
}
.layui-colla-content{
    background-color: #f2f2f2;
}
.layui-form-label{
    background-color: #009688!important;
    color: aliceblue;
}
.layui-layer-molv .layui-layer-title{
    background: #494749!important;
}